[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
xmltodict = "*"
simple-term-menu = "*"
progress = "*"
requests = "*"
mdutils = "*"

[requires]
python_version = "3.8"
